/* Fonts  */

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');

/* Common Styles */

body{
    font-family: 'Roboto', sans-serif;
    margin: -30px;
    overflow-x: hidden;
}
main{
    background-color: rgb(231, 227, 227);
    padding: 0 30px;
}

/* Header Area Styles */

header{
    background-color: #2D25A0;
    padding-top: 10px;
    display: flex;
    justify-content: center;
}
.header-area{
    display: flex;
    justify-content: center;
    align-items: center;
}
nav{
    padding-top: 20px;
    display: flex;
    align-items: center;
}
nav ul{
    float: right;
    margin-right: 20px;
}
nav ul li{
    display: inline;
    margin: 0 5px;
}
nav ul li a{
    text-decoration: none;
    color: white;
    padding: 7px 13px;
    border-radius: 3px;
}
.log-in-button{
    display: flex;
    align-items: center;
    text-decoration: none;
    color: white;
    font-size: 16px;
    background-color: #E02C6D;
    padding: 10px 24px;
}
.log-in-button .arrow-icon{
    padding: 0;
    color: white;
}
.log-in{
    padding-left: 8px;
    text-decoration: none;
    color: white;
}

/* Top Banner Area Start  */

.top-banner{
    background-color: #2D25A0;
    display: flex;
    align-items: center;
    justify-content: space-between
    padding-top: 40px;
    padding-bottom: 80px;
}
.half-width{
    padding-left: 150px;
}
.half-width h1{
    color: white;
    font-weight: 700;
    font-size: 80px;;
    padding-right: 100px;
}
.watch-now{
    text-decoration: none;
    color: Red;
    font-size: 16px;
    position: absolute;
    letter-spacing: 4px;
    height: 50px;
    line-height: 50px;
    
}
.watch-now:before, .watch-now:after, .button:before, .button:after{
    content: '';
    position: absolute;
    width: 10px;
    height: 10px;
    background-color: white;
    transition: 1s;
    mix-blend-mode: hue;
}
.watch-now:before{
    top: -4px;
    left: -4px;
}
.watch-now:after{
    top: -4px;
    right: -4px;
}
.button:before{
    bottom: -4px;
    left: -4px;
}
.button:after{
    bottom: -4px;
    right: -4px;
}
.watch-now:hover:before, .watch-now:hover:after, .button:hover:before,  .button:hover:after{
    width: calc(180px/2);
    height: calc(50px/2);
}
.fa-arrow-right{
    padding-left: 8px;
}
.banner{
    display: flex;
    width: 525px;
    height: 521px;
    padding-left: 0;
    padding-right: 150px;
    padding-top: 10px;
}

/* Players Area Start  */

.players{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 50px;
}
.player{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    border-radius: 10px;
    padding: 20px;
    margin: 30px;
    box-shadow: 6px 6px 6px 6px rgb(77, 77, 77);
}
.player img{
    width: 330px;
    height: 250px;
    border-radius: 10px;
}
.player-content{
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Highlights Area Start  */

.highlights{
    display: flex;
    align-items: center;
    padding: 50px;
}
.highlight h1{
    font-size: 75px;
}
.highlight p{
    margin-top: 0;
    margin-bottom: 30px;
}
.highlight-image img{
    width: 567px;
    height: 427px;
    border-radius: 10px;
}

/* Footer Area Start  */

.footer{
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #E7E3E3;
    padding-top: 50px;
}
.social-area{
    display: flex;
    align-items: center;
    flex-direction: column;
}
.social-icon a{
    margin-left: 20px;
}

/* Media Query */

/* Mobile  */

@media only screen and (max-width:688px) {
    nav{
        display: none;
    }
    .half-width{
        padding-left: 35px;
    }
    .half-width h1{
        font-size: 40px;
        padding-right: 0;
    }
    .banner{
        flex-direction: column;
        padding-right: 27px;
        width: 300px;
    }
    .banner{
        flex-direction: column;
    }
    .banner img{
    padding-top: 100px;
    padding-left: 15px;
    }
    .players-area{
        margin: 0 20px;
    }
    .players{
        grid-template-columns: repeat(1, 1fr);
        padding: 0;
    }
    .player{
        margin: 0;
        padding: 10px 0;
        margin-top: 20px;
    }
    .player img{
        width: 380px;
        height: 220px;  
    }
    .player-content p{
        margin: 5px;
    }
    .highlights{
        padding-top: 100px;
        padding-left: 15px;
        flex-direction: column;
        padding: 0;
    }
    .highlight{
        margin: 10px;
    }
    .highlight h1{
        font-size: 40px;
    }
    .highlight-image img{
        padding-top: 80px;
        width: 350px;
        height: 290px;
    }
    .footer{
        padding-right: 400px;
    }
    .footer-image img{
        width: 85%;
        padding-left: 200px;
    }
    .social-area{
        padding-left: 390px;
    }
    .social-icon{
        padding: 0 120px;
    }
}

